In [67]:
import numpy as np
import pandas as pd
import ast

In [68]:
credit_data = pd.read_csv('tmdb_5000_credits.csv')
movies_data = pd.read_csv('tmdb_5000_movies.csv')

In [69]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [70]:
movies_data = movies_data.merge(credit_data,on='title')

In [71]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [72]:
#movie_id
#genres
#keywords
#title
#cast
#crew
#overview


movies_data = movies_data[['movie_id','genres','keywords','overview','cast','crew','title']]

In [73]:
movies_data.head(1)

,movie_id,genres,keywords,overview,cast,crew,title
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar

In [74]:
movies_data.isnull().sum()

movie_id    0
genres      0
keywords    0
overview    3
cast        0
crew        0
title       0
dtype: int64

In [75]:
movies_data.dropna(inplace=True)

In [76]:
movies_data.isnull().sum()

movie_id    0
genres      0
keywords    0
overview    0
cast        0
crew        0
title       0
dtype: int64

In [77]:
movies_data.duplicated().sum()

0

In [78]:
movies_data.shape

(4806, 7)

In [79]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   genres    4806 non-null   object
 2   keywords  4806 non-null   object
 3   overview  4806 non-null   object
 4   cast      4806 non-null   object
 5   crew      4806 non-null   object
 6   title     4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [80]:
movies_data.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [83]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#['Action','Adventure','Fantasy','Science Fiction']

def convert(obj):
    count=0
    arr=[]
    for i in ast.literal_eval(obj):
        arr.append(i["name"])
    return arr
def convert1(obj):
    arr=[]
    count=0
    for i in ast.literal_eval(obj):
        if count<=2:
            arr.append(i["name"])
            count+=1
        else:
            break
    return arr
def convert2(obj):
    arr=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            arr.append(i["name"])
            break
    return arr

In [85]:
movies_data['genres'] = movies_data['genres'].apply(convert)
movies_data['keywords'] = movies_data['keywords'].apply(convert)
movies_data['crew'] = movies_data['crew'].apply(convert2)
movies_data['cast'] = movies_data['cast'].apply(convert1)

In [86]:
movies_data.head(1)

,movie_id,genres,keywords,overview,cast,crew,title
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],Avatar

In [87]:
movies_data.iloc[0].overview

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [92]:
movies_data['overview']=movies_data['overview'].apply(lambda x: x.split())

In [93]:
movies_data.head(1)

,movie_id,genres,keywords,overview,cast,crew,title
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],Avatar

In [97]:
movies_data['cast'] = movies_data['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [98]:
movies_data.head(1)

,movie_id,genres,keywords,overview,cast,crew,title
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],Avatar

In [100]:
movies_data['crew'] = movies_data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [101]:
movies_data.head(1)

,movie_id,genres,keywords,overview,cast,crew,title
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],Avatar

In [104]:
movies_data['keywords'] = movies_data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [105]:
movies_data.head(1)

,movie_id,genres,keywords,overview,cast,crew,title
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],Avatar

In [108]:
movies_data['tags'] = movies_data['genres']+movies_data['keywords']+movies_data['overview']+movies_data['cast']+movies_data['crew']

In [109]:
movies_data.head(1)

,movie_id,genres,keywords,overview,cast,crew,title,tags
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],Avatar,"[Action, Adventure, Fantasy, Science Fiction, ..."

In [110]:
movies_data.iloc[0]['tags']

['Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [111]:
new_movie_data = movies_data[['movie_id','title','tags']]

In [112]:
new_movie_data

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, Science Fiction, basedonno..."
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller, unitedstatesâ€“mexicob..."
4805,72766,Newlyweds,"[Comedy, Romance, A, newlywed, couple's, honey..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie, date, lovea..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Documentary, obsession, camcorder, crush, dre..."

In [115]:
new_movie_data['tags'] = new_movie_data['tags'].apply(lambda x:" ".join(x))

C:\Users\amank\AppData\Local\Temp\ipykernel_2068\3157640678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie_data['tags'] = new_movie_data['tags'].apply(lambda x:" ".join(x))

In [116]:
new_movie_data

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy Science Fiction cultu...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure Science Fiction basedonnovel ...
...,...,...,...
4804,9367,El Mariachi,Action Crime Thriller unitedstatesâ€“mexicobarri...
4805,72766,Newlyweds,Comedy Romance A newlywed couple's honeymoon i...
4806,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie date loveatfirst...
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Documentary obsession camcorder crush dreamgir...

In [117]:
new_movie_data.iloc[0]['tags']

'Action Adventure Fantasy Science Fiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [118]:
new_movie_data['tags'].apply(lambda x : x.lower())

0       action adventure fantasy science fiction cultu...
1       adventure fantasy action ocean drugabuse exoti...
2       action adventure crime spy basedonnovel secret...
3       action crime drama thriller dccomics crimefigh...
4       action adventure science fiction basedonnovel ...
                              ...
4804    action crime thriller unitedstatesâ€“mexicobarri...
4805    comedy romance a newlywed couple's honeymoon i...
4806    comedy drama romance tv movie date loveatfirst...
4807    when ambitious new york attorney sam is sent t...
4808    documentary obsession camcorder crush dreamgir...
Name: tags, Length: 4806, dtype: object

In [119]:
new_movie_data['tags'] = new_movie_data['tags'].apply(lambda x:x.lower())

C:\Users\amank\AppData\Local\Temp\ipykernel_2068\3663155607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie_data['tags'] = new_movie_data['tags'].apply(lambda x:x.lower())

In [120]:
new_movie_data

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy science fiction cultu...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure science fiction basedonnovel ...
...,...,...,...
4804,9367,El Mariachi,action crime thriller unitedstatesâ€“mexicobarri...
4805,72766,Newlyweds,comedy romance a newlywed couple's honeymoon i...
4806,231617,"Signed, Sealed, Delivered",comedy drama romance tv movie date loveatfirst...
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,documentary obsession camcorder crush dreamgir...

In [ ]:
#NOW APPLYING THE VICTORIZATION :- IT IS USED TO CONVERT THE TEXT INOT VECTOR AND THEN HE FIND THE CLOSET VECTOR USING GRPAH

In [121]:
import nltk

In [125]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [135]:
def stem(text):
    arr=[]
    for i in text.split():
        arr.append(ps.stem(i))
    return " ".join(arr)

In [145]:
new_movie_data['tags'] = new_movie_data['tags'].apply(stem)
df = new_movie_data[['movie_id','title','tags']]

C:\Users\amank\AppData\Local\Temp\ipykernel_2068\3684145156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie_data['tags'] = new_movie_data['tags'].apply(stem)

In [147]:
df

,movie_id,title,tags
0,19995,Avatar,action adventur fantasi scienc fiction culture...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabu exoticis...
2,206647,Spectre,action adventur crime spi basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...
4,49529,John Carter,action adventur scienc fiction basedonnovel ma...
...,...,...,...
4804,9367,El Mariachi,action crime thriller unitedstatesâ€“mexicobarri...
4805,72766,Newlyweds,comedi romanc a newlyw couple' honeymoon is up...
4806,231617,"Signed, Sealed, Delivered",comedi drama romanc tv movi date loveatfirstsi...
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,documentari obsess camcord crush dreamgirl eve...

In [148]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [149]:
vector = cv.fit_transform(df['tags']).toarray()

In [157]:
cv.get_feature_name()

AttributeError: 'CountVectorizer' object has no attribute 'get_feature_name'

In [151]:
from sklearn.metrics.pairwise import cosine_similarity

In [153]:
similarity = cosine_similarity(vector)

In [154]:
similarity.shape

(4806, 4806)

In [163]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, 1.0000000000000002),
 (1216, 0.3019405424385589),
 (2409, 0.28644594961577313),
 (507, 0.2710098294963041),
 (539, 0.2706659809803833),
 (1204, 0.2625754538144587),
 (1194, 0.2614881801842454),
 (582, 0.26148818018424536),
 (3730, 0.25715142542972574),
 (61, 0.25620504608813943),
 (778, 0.2491009475118111),
 (1920, 0.24419314525275215),
 (2786, 0.24209101306752093),
 (4048, 0.24198875709123052),
 (4405, 0.24019223070763068),
 (972, 0.2338821384818744),
 (322, 0.23076923076923075),
 (4192, 0.22880215766121476),
 (2333, 0.22422426466543746),
 (3608, 0.2201762114819948),
 (74, 0.21995293510729183),
 (577, 0.21969401455243587),
 (973, 0.2196940145524358),
 (3675, 0.21726204731337043),
 (1089, 0.21618989813247),
 (495, 0.21571674297647797),
 (1201, 0.21571674297647797),
 (3327, 0.21483446221182984),
 (47, 0.21204880838762138),
 (94, 0.21182963643408081),
 (172, 0.20965696734438366),
 (260, 0.2081453617075184),
 (1275, 0.20814536170751838),
 (1329, 0.20814536170751838),
 (4, 0.2080125735844609),
 (2971, 0.20758412292650924),
 (305, 0.20672455764868072),
 (1321, 0.20483662259967564),
 (2999, 0.20483662259967564),
 (3999, 0.2046468711716401),
 (27, 0.20336295869552104),
 (1355, 0.20180183819889375),
 (220, 0.20131905799006777),
 (151, 0.20033416898825337),
 (373, 0.20033416898825337),
 (1444, 0.20016019225635892),
 (1071, 0.2000625293121421),
 (931, 0.19814848097530424),
 (83, 0.19611613513818402),
 (168, 0.19535451620220173),
 (184, 0.19535451620220173),
 (2204, 0.19535451620220173),
 (4336, 0.19535451620220173),
 (1982, 0.19223226273338134),
 (1774, 0.1921537845661046),
 (36, 0.19096396641051544),
 (300, 0.19096396641051544),
 (3538, 0.19096396641051544),
 (91, 0.18946618668626833),
 (942, 0.18887686585995425),
 (1831, 0.18685673434682068),
 (3162, 0.18605210188381266),
 (108, 0.18490006540840973),
 (31, 0.1849000654084097),
 (41, 0.1849000654084097),
 (2515, 0.1849000654084097),
 (67, 0.18427434427242975),
 (661, 0.18302666282596894),
 (2731, 0.1815682598006407),
 (595, 0.18116432546313532),
 (1537, 0.18116432546313532),
 (150, 0.17902871850985821),
 (487, 0.17841031003501578),
 (342, 0.17576348305930709),
 (26, 0.17505471314812437),
 (466, 0.17471413945365305),
 (1383, 0.17295817388759027),
 (581, 0.17255919256291524),
 (2075, 0.17255919256291524),
 (4348, 0.17118419700436519),
 (149, 0.17103344030668952),
 (311, 0.17093520167692652),
 (1344, 0.17093520167692652),
 (111, 0.1709352016769265),
 (490, 0.1706971854997297),
 (1488, 0.1706971854997297),
 (838, 0.16984155512168936),
 (275, 0.16724840200141816),
 (3354, 0.16724840200141816),
 (7, 0.167093470609201),
 (52, 0.167093470609201),
 (56, 0.16694514082354447),
 (249, 0.16694514082354447),
 (529, 0.16526725762745997),
 (1297, 0.16526725762745997),
 (461, 0.1647705109143269),
 (2760, 0.16401847362094593),
 (1938, 0.16349964255346808),
 (476, 0.1634301126151534),
 (505, 0.1634301126151534),
 (1373, 0.1634301126151534),
 (46, 0.16239958858823),
 (3409, 0.16239958858823),
 (1273, 0.16178755723235852),
 (1056, 0.1617875572323585),
 (1396, 0.1613940087116806),
 (1479, 0.1613940087116806),
 (127, 0.1611258466588724),
 (2378, 0.16012815380508716),
 (413, 0.16012815380508713),
 (859, 0.16012815380508713),
 (2169, 0.16012815380508713),
 (95, 0.1601281538050871),
 (72, 0.15794943794779692),
 (1178, 0.15585730003983933),
 (1560, 0.15585730003983933),
 (1965, 0.15534712747612348),
 (4010, 0.15534712747612348),
 (2970, 0.15408338784034142),
 (1808, 0.15384615384615383),
 (4079, 0.15384615384615383),
 (158, 0.15253477177414312),
 (473, 0.15253477177414312),
 (502, 0.15253477177414312),
 (187, 0.15191090506255),
 (483, 0.1513068831672006),
 (1096, 0.1513068831672006),
 (1158, 0.1513068831672006),
 (1322, 0.15097027121927944),
 (1715, 0.15097027121927944),
 (14, 0.15004689698410661),
 (1086, 0.1500468969841066),
 (4230, 0.1500468969841066),
 (2133, 0.14978617237881955),
 (2873, 0.147180996735913),
 (754, 0.14651588715165131),
 (166, 0.1465158871516513),
 (2450, 0.1465158871516513),
 (3628, 0.1465158871516513),
 (68, 0.14617633655117152),
 (1004, 0.14617633655117152),
 (1274, 0.14617633655117152),
 (1658, 0.14617633655117152),
 (3376, 0.14617633655117152),
 (513, 0.14484136487558028),
 (3634, 0.14484136487558028),
 (1047, 0.1437993271357627),
 (1833, 0.1437993271357627),
 (4673, 0.1437993271357627),
 (1741, 0.14351616441832768),
 (256, 0.14322297480788657),
 (1299, 0.14322297480788657),
 (1575, 0.14322297480788657),
 (102, 0.14235407108686474),
 (3235, 0.1416576493949657),
 (122, 0.14153462926807445),
 (294, 0.14153462926807445),
 (422, 0.14153462926807445),
 (365, 0.1401425507601155),
 (549, 0.1401425507601155),
 (900, 0.1401425507601155),
 (1878, 0.14011213457945124),
 (200, 0.13977131156292244),
 (1524, 0.13977131156292244),
 (28, 0.13937366833451514),
 (2496, 0.13937366833451514),
 (568, 0.13937366833451512),
 (870, 0.1386750490563073),
 (17, 0.13797289239745258),
 (579, 0.1373087590952724),
 (182, 0.13725270326150324),
 (278, 0.13725270326150324),
 (1617, 0.13725270326150324),
 (1002, 0.13693937303317935),
 (668, 0.13655774839978377),
 (1327, 0.13655774839978377),
 (1501, 0.13655774839978377),
 (2161, 0.13655774839978377),
 (3781, 0.13655774839978377),
 (454, 0.1358732440973515),
 (2547, 0.1358732440973515),
 (87, 0.13533299049019168),
 (232, 0.13533299049019168),
 (1220, 0.1345345587992625),
 (4538, 0.1345345587992625),
 (233, 0.13355611265883557),
 (935, 0.13355611265883557),
 (2323, 0.13355611265883557),
 (3982, 0.13355611265883557),
 (449, 0.13344012817090595),
 (843, 0.13344012817090595),
 (1031, 0.13344012817090595),
 (1418, 0.13323467750529824),
 (1497, 0.1320989873168695),
 (420, 0.1319717610643751),
 (777, 0.1319717610643751),
 (126, 0.1316245316231641),
 (3498, 0.1316245316231641),
 (1280, 0.1307440900921227),
 (1884, 0.1307440900921227),
 (2584, 0.1307440900921227),
 (3663, 0.1307440900921227),
 (3954, 0.1307440900921227),
 (123, 0.13074409009212268),
 (589, 0.13074409009212268),
 (3309, 0.13074409009212268),
 (1015, 0.12988108336653278),
 (228, 0.12955005512625914),
 (1512, 0.1283881477532739),
 (2480, 0.1283881477532739),
 (2796, 0.1283881477532739),
 (2856, 0.1283881477532739),
 (3630, 0.1283881477532739),
 (2072, 0.1282051282051282),
 (2181, 0.1282051282051282),
 (3622, 0.1282051282051282),
 (85, 0.12810252304406974),
 (35, 0.12810252304406972),
 (134, 0.12810252304406972),
 (319, 0.12810252304406972),
 (368, 0.12810252304406972),
 (2053, 0.12810252304406972),
 (4018, 0.12810252304406972),
 (4198, 0.12810252304406972),
 (4490, 0.12810252304406972),
 (270, 0.12725695259515554),
 (740, 0.12725695259515554),
 (3093, 0.12725695259515554),
 (4672, 0.12725695259515554),
 (238, 0.12691660175143157),
 (138, 0.12659242088545833),
 (223, 0.12659242088545833),
 (814, 0.12659242088545833),
 (1195, 0.12659242088545833),
 (2686, 0.12659242088545833),
 (1574, 0.1261107739106075),
 (3212, 0.12580855934939952),
 (33, 0.12561485860426555),
 (773, 0.12561485860426555),
 (1156, 0.12561485860426555),
 (1942, 0.12561485860426555),
 (4256, 0.12561485860426555),
 (4403, 0.12561485860426555),
 (369, 0.12503908082008885),
 (10, 0.12503908082008883),
 (937, 0.12503908082008883),
 (1082, 0.12503908082008883),
 (3755, 0.12503908082008883),
 (1496, 0.12403473458920845),
 (541, 0.12403473458920844),
 (508, 0.1235415527768502),
 (1037, 0.1235415527768502),
 (362, 0.12326671027227314),
 (229, 0.12303443814151493),
 (2498, 0.12301385521570944),
 (939, 0.12229989761755714),
 (1614, 0.12209657262637608),
 (2003, 0.12201777521731264),
 (84, 0.12201777521731262),
 (654, 0.12201777521731262),
 (2439, 0.12201777521731262),
 (208, 0.12104550653376048),
 (920, 0.12104550653376048),
 (1474, 0.12104550653376048),
 (1756, 0.12104550653376048),
 (2645, 0.12104550653376048),
 (2652, 0.12104550653376048),
 (4331, 0.12104550653376048),
 (266, 0.1207011373963169),
 (438, 0.1207011373963169),
 (510, 0.1207011373963169),
 (557, 0.1207011373963169),
 (3935, 0.1207011373963169),
 (2331, 0.12009611535381534),
 (2674, 0.12009611535381534),
 (2789, 0.12009611535381534),
 (3083, 0.12009611535381534),
 (3218, 0.12009611535381534),
 (3905, 0.12009611535381534),
 (4737, 0.12009611535381534),
 (410, 0.11935247900657214),
 (480, 0.11935247900657214),
 (1401, 0.11935247900657214),
 (511, 0.11894020669001051),
 (781, 0.11894020669001051),
 (980, 0.11894020669001051),
 (2093, 0.11894020669001051),
 (3736, 0.11894020669001051),
 (139, 0.1182624791978165),
 (1405, 0.1182624791978165),
 (334, 0.1180480411624714),
 (400, 0.11694106924093722),
 (1306, 0.11694106924093722),
 (2060, 0.11694106924093722),
 (2741, 0.11694106924093722),
 (371, 0.11678545896676293),
 (412, 0.11678545896676293),
 (2241, 0.11678545896676293),
 (1673, 0.11651034560709261),
 (4000, 0.11651034560709261),
 (4654, 0.11651034560709261),
 (363, 0.1165103456070926),
 (3721, 0.1165103456070926),
 (160, 0.11561170597113389),
 (2284, 0.11556254088025608),
 (564, 0.11503946170861017),
 (2660, 0.11503946170861017),
 (587, 0.11437725271791938),
 (2488, 0.11437725271791938),
 (2820, 0.11437725271791938),
 (189, 0.11322770341445959),
 (4473, 0.11322770341445959),
 (279, 0.11322770341445958),
 (813, 0.11322770341445958),
 (678, 0.11322770341445956),
 (960, 0.11322770341445956),
 (1301, 0.11322770341445956),
 (432, 0.11211213233271874),
 (18, 0.11168711865749101),
 (4545, 0.11168711865749101),
 (50, 0.11149893466761211),
 (121, 0.11149893466761211),
 (775, 0.11149893466761211),
 (1589, 0.11149893466761211),
 (1616, 0.11149893466761211),
 (2583, 0.11149893466761211),
 (536, 0.11102889792108189),
 (43, 0.11102889792108188),
 (997, 0.11102889792108188),
 (1233, 0.11102889792108188),
 (3881, 0.11102889792108188),
 (889, 0.11098534863604863),
 (3147, 0.11094003924504581),
 (301, 0.11020775375559676),
 (808, 0.11020775375559674),
 (850, 0.11020775375559674),
 (1005, 0.11020775375559674),
 (1348, 0.11020775375559674),
 (4165, 0.11020775375559674),
 (3443, 0.10997646755364592),
 (236, 0.10984700727621793),
 (4468, 0.10984700727621793),
 (206, 0.10948978029027179),
 (169, 0.10895340841010223),
 (81, 0.10878565864408421),
 (3428, 0.10826639239215335),
 (21, 0.10826639239215334),
 (203, 0.10826639239215334),
 (1945, 0.10826639239215334),
 (3008, 0.10826639239215334),
 (230, 0.108094949066235),
 (799, 0.108094949066235),
 (618, 0.10795837927188262),
 (692, 0.10795837927188262),
 (3553, 0.10795837927188262),
 (239, 0.10741723110591492),
 (627, 0.10741723110591492),
 (2114, 0.10741723110591492),
 (2326, 0.10741723110591492),
 (3431, 0.10741723110591492),
 (307, 0.10736246830291345),
 (5, 0.10699012312772824),
 (752, 0.10699012312772824),
 (1832, 0.10699012312772824),
 (2372, 0.10699012312772824),
 (39, 0.10675210253672475),
 (626, 0.10675210253672475),
 (786, 0.10675210253672475),
 (1019, 0.10604746049596296),
 (3556, 0.10604746049596296),
 (572, 0.10604746049596295),
 (1018, 0.10604746049596295),
 (242, 0.10529962529853128),
 (306, 0.10529962529853128),
 (332, 0.10529962529853128),
 (472, 0.10529962529853128),
 (1237, 0.10529962529853128),
 (2644, 0.10529962529853128),
 (3926, 0.10529962529853128),
 (4626, 0.10529962529853128),
 (170, 0.105129283382795),
 (262, 0.105129283382795),
 (653, 0.10482848367219183),
 (1166, 0.10482848367219183),
 (1745, 0.10482848367219183),
 (2381, 0.10482848367219183),
 (2634, 0.10482848367219183),
 (4135, 0.10482848367219183),
 (4431, 0.10482848367219183),
 (467, 0.10423454980627081),
 (131, 0.10390486669322622),
 (295, 0.10390486669322622),
 (854, 0.10390486669322622),
 (3340, 0.10390486669322622),
 (1639, 0.10336227882434038),
 (2448, 0.10300524052492097),
 (16, 0.10256410256410256),
 (75, 0.10256410256410256),
 (687, 0.10256410256410256),
 (1771, 0.10256410256410256),
 (2148, 0.10256410256410256),
 (2817, 0.10256410256410256),
 (3102, 0.10256410256410256),
 (403, 0.1025115460130912),
 (105, 0.10241831129983783),
 (2456, 0.10241831129983783),
 (2521, 0.10241831129983783),
 (3621, 0.10241831129983783),
 (3055, 0.10241831129983782),
 (3839, 0.10241831129983782),
 (1455, 0.10168147934776052),
 (174, 0.10127393670836667),
 (922, 0.10127393670836667),
 (1113, 0.10127393670836667),
 (2938, 0.10127393670836667),
 (3028, 0.10127393670836667),
 (3152, 0.10127393670836667),
 (3874, 0.10127393670836667),
 (4097, 0.10127393670836667),
 (4777, 0.10127393670836667),
 (2106, 0.10087125544480038),
 (624, 0.10016708449412667),
 (3891, 0.10016708449412667),
 (45, 0.10008009612817946),
 (96, 0.10003126465607107),
 (101, 0.10003126465607107),
 (207, 0.10003126465607107),
 (632, 0.10003126465607107),
 (1289, 0.10003126465607107),
 (1294, 0.10003126465607107),
 (2247, 0.10003126465607107),
 (4691, 0.10003126465607107),
 (2099, 0.09930726528736966),
 (3441, 0.09930726528736966),
 (70, 0.09883324222148016),
 (82, 0.09883324222148016),
 (312, 0.09883324222148016),
 (330, 0.09883324222148016),
 (643, 0.09883324222148016),
 (988, 0.09883324222148016),
 (1523, 0.09883324222148016),
 (2916, 0.09883324222148016),
 (4558, 0.09883324222148016),
 (1439, 0.09855206599818042),
 (2386, 0.09805806756909204),
 (157, 0.09805806756909202),
 (715, 0.09805806756909202),
 (1077, 0.09805806756909202),
 (103, 0.09781383788084239),
 (222, 0.09781383788084239),
 (491, 0.09781383788084239),
 (445, 0.09767725810110087),
 (1792, 0.09767725810110087),
 (2163, 0.09767725810110087),
 (3620, 0.09767725810110087),
 (3783, 0.09767725810110087),
 (4045, 0.09767725810110087),
 (51, 0.09709195467257717),
 (1775, 0.09709195467257717),
 (1828, 0.09709195467257717),
 (535, 0.09656090991705352),
 (634, 0.09656090991705352),
 (898, 0.09656090991705352),
 (1109, 0.09656090991705352),
 (1823, 0.09656090991705352),
 (2253, 0.09656090991705352),
 (2395, 0.09656090991705352),
 (148, 0.09607689228305229),
 (263, 0.09607689228305229),
 (878, 0.09607689228305229),
 (1721, 0.09607689228305229),
 (1727, 0.09607689228305229),
 (2259, 0.09607689228305229),
 (2762, 0.09607689228305229),
 (2787, 0.09607689228305229),
 (3994, 0.09607689228305229),
 (4472, 0.09607689228305229),
 (9, 0.09548198320525772),
 (908, 0.09548198320525772),
 (2021, 0.09548198320525772),
 (2556, 0.09548198320525772),
 (3022, 0.09548198320525772),
 (3560, 0.09501857794816083),
 (728, 0.09443843292997713),
 (1623, 0.09443843292997713),
 (1996, 0.09443843292997713),
 (325, 0.09421114395319916),
 (791, 0.09421114395319916),
 (2268, 0.09421114395319916),
 (2270, 0.09421114395319916),
 (2562, 0.09421114395319916),
 (3572, 0.09421114395319916),
 (3901, 0.09421114395319916),
 (4203, 0.09421114395319916),
 (11, 0.09342836717341034),
 (76, 0.09342836717341034),
 (93, 0.09342836717341034),
 (271, 0.09342836717341034),
 (979, 0.09342836717341034),
 (1168, 0.09342836717341034),
 (2701, 0.09342836717341034),
 (4083, 0.09342836717341034),
 (193, 0.09288103752413637),
 (674, 0.09245003270420486),
 (1276, 0.09245003270420486),
 (1357, 0.09245003270420486),
 (1692, 0.09245003270420486),
 (2592, 0.09245003270420486),
 (2650, 0.09245003270420486),
 (3464, 0.09245003270420486),
 (3720, 0.09245003270420486),
 (4502, 0.09245003270420486),
 (660, 0.09245003270420485),
 (1262, 0.09245003270420485),
 (1365, 0.09245003270420485),
 (1573, 0.09245003270420485),
 (1686, 0.09245003270420485),
 (2396, 0.09245003270420485),
 (129, 0.0915018021743355),
 (243, 0.0915018021743355),
 (596, 0.0915018021743355),
 (1446, 0.0915018021743355),
 (1632, 0.0915018021743355),
 (1701, 0.0915018021743355),
 (2831, 0.0915018021743355),
 (3407, 0.0915018021743355),
 (785, 0.09124148357522649),
 (219, 0.09078412990032037),
 (244, 0.09078412990032037),
 (1944, 0.09078412990032037),
 (2651, 0.09078412990032037),
 (3537, 0.09078412990032037),
 (1990, 0.09065471553673685),
 (97, 0.09058216273156766),
 (782, 0.09058216273156766),
 (3300, 0.09058216273156766),
 (2570, 0.09007912422186248),
 (419, 0.08968970586617499),
 (602, 0.08968970586617499),
 (1278, 0.08968970586617499),
 (1846, 0.08968970586617499),
 (88, 0.08920515501750789),
 (167, 0.08920515501750789),
 (356, 0.08920515501750789),
 (1347, 0.08920515501750789),
 (1480, 0.08920515501750789),
 (2251, 0.08920515501750789),
 (2957, 0.08920515501750789),
 (4566, 0.08920515501750789),
 (59, 0.08896008544727063),
 (331, 0.0888231183368655),
 (2363, 0.0888231183368655),
 (2850, 0.0888231183368655),
 (3389, 0.0888231183368655),
 (3462, 0.0888231183368655),
 (4123, 0.0888231183368655),
 (4343, 0.0888231183368655),
 (4353, 0.0888231183368655),
 (274, 0.08861469461982083),
 (732, 0.08798117404291673),
 (1906, 0.08798117404291673),
 (3910, 0.08798117404291673),
 (2115, 0.08788174152965353),
 (12, 0.08770580193070292),
 (292, 0.08770580193070292),
 (358, 0.08770580193070292),
 (1027, 0.08770580193070292),
 (1434, 0.08770580193070292),
 (2090, 0.08770580193070292),
 (2868, 0.08770580193070292),
 (3322, 0.08770580193070292),
 (4680, 0.08770580193070292),
 (125, 0.08752735657406217),
 (735, 0.08716272672808179),
 (1783, 0.08716272672808179),
 (2109, 0.08716272672808179),
 (2713, 0.08716272672808179),
 (2740, 0.08716272672808179),
 (479, 0.08684168428648435),
 (2763, 0.08684168428648435),
 (183, 0.08633531446374632),
 (141, 0.08627959628145762),
 (389, 0.08627959628145762),
 (745, 0.08627959628145762),
 (794, 0.08627959628145762),
 (1073, 0.08627959628145762),
 (1249, 0.08627959628145762),
 (1259, 0.08627959628145762),
 (1364, 0.08627959628145762),
 (1631, 0.08627959628145762),
 (3448, 0.08627959628145762),
 (3449, 0.08627959628145762),
 (143, 0.08559209850218259),
 (199, 0.08559209850218259),
 (212, 0.08559209850218259),
 (827, 0.08559209850218259),
 (1530, 0.08559209850218259),
 (2135, 0.08559209850218259),
 (2596, 0.08559209850218259),
 (2880, 0.08559209850218259),
 (3390, 0.08559209850218259),
 (4516, 0.08559209850218259),
 (4587, 0.08559209850218259),
 (2, 0.08492077756084468),
 (23, 0.08492077756084468),
 (457, 0.08492077756084468),
 (1378, 0.08492077756084468),
 (3135, 0.08492077756084468),
 (3365, 0.08492077756084468),
 (3515, 0.08492077756084468),
 (4259, 0.08492077756084468),
 (4754, 0.08492077756084468),
 (4790, 0.08492077756084468),
 (234, 0.08483796839677037),
 (2052, 0.08483796839677037),
 (2354, 0.08483796839677037),
 (32, 0.084103426706236),
 (217, 0.084103426706236),
 (1011, 0.084103426706236),
 (2968, 0.084103426706236),
 (142, 0.08362420100070908),
 (441, 0.08362420100070908),
 (894, 0.08362420100070908),
 (1142, 0.08362420100070908),
 (1241, 0.08362420100070908),
 (2304, 0.08362420100070908),
 (4560, 0.08362420100070908),
 (1097, 0.08362420100070907),
 (48, 0.08338763984501665),
 (190, 0.08338763984501665),
 (1305, 0.08338763984501665),
 (2264, 0.08338763984501665),
 (62, 0.0826898230594723),
 (381, 0.0826898230594723),
 (534, 0.0826898230594723),
 (1698, 0.0826898230594723),
 (3006, 0.0826898230594723),
 (3154, 0.0826898230594723),
 (3180, 0.0826898230594723),
 (3978, 0.0826898230594723),
 (1, 0.08238525545716345),
 (152, 0.08238525545716345),
 (315, 0.08238525545716345),
 (366, 0.08238525545716345),
 (1688, 0.08238525545716345),
 (2128, 0.08238525545716345),
 (2167, 0.08238525545716345),
 (19, 0.08200923681047297),
 (2203, 0.08134518347820842),
 (2888, 0.08134518347820842),
 (227, 0.081199794294115),
 (341, 0.081199794294115),
 (547, 0.081199794294115),
 (787, 0.081199794294115),
 (1032, 0.081199794294115),
 (1207, 0.081199794294115),
 (1749, 0.081199794294115),
 (1768, 0.081199794294115),
 (2636, 0.081199794294115),
 (2661, 0.081199794294115),
 (3137, 0.081199794294115),
 (3140, 0.081199794294115),
 (3301, 0.081199794294115),
 (3470, 0.081199794294115),
 (63, 0.0806970043558403),
 (79, 0.0806970043558403),
 (501, 0.0806970043558403),
 (38, 0.08006407690254357),
 (245, 0.08006407690254357),
 (375, 0.08006407690254357),
 (584, 0.08006407690254357),
 (812, 0.08006407690254357),
 (866, 0.08006407690254357),
 (901, 0.08006407690254357),
 (1269, 0.08006407690254357),
 (1519, 0.08006407690254357),
 (1664, 0.08006407690254357),
 (2339, 0.08006407690254357),
 (2671, 0.08006407690254357),
 (2865, 0.08006407690254357),
 (2877, 0.08006407690254357),
 (3527, 0.08006407690254357),
 (4075, 0.08006407690254357),
 (4492, 0.08006407690254357),

In [159]:
enumerate(similarity)

In [178]:
def Movie_Recommended(movie):
    movie_index = df[df['title']==movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movie_list:
        print(df.iloc[i[0]].title)
    return

In [179]:
Movie_Recommended('Avatar')

Aliens vs Predator: Requiem
Aliens
Independence Day
Titan A.E.
Predators